.tasks__list {
  margin-top: 2rem;
  list-style: none;
  font-size: 1.2rem;
  background-color: var(--tertiaryColor);
  border-radius: 10px;
}

.tasks__list > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  animation: slide-in-from-right 0.35s ease-out;
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.no__tasks {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--primaryColor);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: var(--primaryColor);
  }
  50% {
    opacity: 0;
  }
  100% {
    color: var(--primaryColor);
  }
}
