.styled__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.styled__input > label {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.3rem;
}

.styled__input > .boldLabel {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 2rem;
}

.styled__input__task > input {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem;
  height: 3rem;
  color: var(--primaryColor);
  background-color: var(--tertiaryColor);
  border: none;
}

.styled__input__task > textarea {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem;
  color: var(--primaryColor);
  background-color: var(--tertiaryColor);
  border: none;
  height: 8rem;
}
.styled__input__task {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.styled__input__task > button {
  width: 10rem;
  font-size: 1.3rem;
}
