.button {
  padding: 0.7rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.buttonPrimary {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  transition: 0.2s linear;
}
.buttonPrimary:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.buttonSecondary {
  background-color: transparent;
  color: var(--primaryColor);
  transition: 0.2s linear;
}

.buttonSecondary:hover {
  background-color: var(--secondaryColor);
  color: white;
}
