.ErrorModal {
  width: 600px;
  height: 300px;
  margin-left: 40%;
  margin-top: 20%;
  padding: 0.3rem;
  border: 5px solid var(--tertiaryColor);
  border-radius: 20px;
}
dialog > .modal__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  color: var(--primaryColor);
}

.button__modal {
  width: 10rem;
  font-size: 1rem;
}

.form__modal {
  width: 100%;
  display: flex;
  justify-content: end;
}

.ErrorModal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
