.sidebar {
  background-color: #202020;
  margin-top: 2.5rem;
  width: 20%;
  height: 100%;
  border-top-right-radius: 1.5rem;
  padding: 1rem;
}

.sidebar h2 {
  margin-top: 2rem;

  margin-bottom: 2rem;

  color: white;
  text-transform: uppercase;
}

.sidebar div {
  margin-left: 2rem;
}

.sidebar > ul {
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar__listItem {
  padding: 0.3rem;
}

.sidebar__listItem:hover {
  background-color: beige;
  color: black;
  cursor: pointer;
}
