.sidebar {
  background-color: #202020;
  margin-top: 2.5rem;
  width: 20%;
  height: 100%;
  border-top-right-radius: 1.5rem;
  padding: 1rem;
}

.sidebar h2 {
  margin-top: 2rem;

  margin-bottom: 2rem;

  color: white;
  text-transform: uppercase;
}

.sidebar div {
  margin-left: 2rem;
}

.sidebar > ul {
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar__listItem {
  padding: 0.3rem;
  transition: 0.5s linear;
  animation: slide-in-from-bottom 0.35s ease-out;
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sidebar__listItem:hover {
  background-color: var(--tertiaryColor);
  color: var(--primaryColor);
  cursor: pointer;
  border-radius: 20px;
}

.no__projects {
  font-size: 1.5rem;
  color: var(--tertiaryColor);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    color: var(--tertiaryColor);
  }
  50% {
    opacity: 0;
  }
  100% {
    color: var(--tertiaryColor);
  }
}
