.project {
  width: 100%;
  margin: 5rem;
}

.projectHeader {
  border-bottom: 1px solid var(--primaryColor);
}

.projectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.projectContainer h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--primaryColor);
}

.projectDate {
  margin-bottom: 2rem;
  color: var(--primaryColor);
}

.projectDesc {
  white-space: pre-wrap;
  color: var(--primaryColor);
}

.tasks {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
